%div#title
  %h1
    %i.eos-icons.eos-48#deploy{alt: t('deploy'), title: t('deploy') } deploy
    = t('title')
  %p.lead= t('lead')
%hr
= markdown(t('description'), escape_html: false)
%p.clearfix
%hr
%div.btn-group.float-right
  - if Rails.configuration.x.terraform_sources_url.present?
    %button.btn.btn-lg.btn-secondary{ type: 'button', data: { toggle: 'modal', target: '#source' } }
      %i.eos-icons.no-trailing-space edit
  %a.btn.btn-lg.btn-primary{ href: cluster_path }
    %i.eos-icons fast_forward
    = t('sidebar.simple')
- if Rails.configuration.x.terraform_sources_url.present?
  = render 'welcome/source'
