// value is a 'list' type; like an array
- list = value
%div.form-group{ class: "list_#{key}"}
  %label{ for: "variables[#{key}]" }
    = key.titleize
    = required if @variables.required?(key)
  - list.each do |list_value|
    %div.input-group.mb-2
      %input.form-control{ type: 'text', name: "variables[#{key}][]", value: list_value, required: true }
      %button.btn.btn-sm.btn-outline-danger.remove{ type: 'button', data: { toggle: 'tooltip' }, title: 'Remove' }
        &nbsp;
        %i.eos-icons.eos-24 remove
  %div.input-group.mb-2{ id: "#{key}_new_form" }
    %input.form-control{ type: 'text', id: "#{key}_new_value", placeholder: 'value' }
    %button.btn.btn-sm.btn-outline-primary{ id: "#{key}_add_list", type: 'button', data: { toggle: 'tooltip' }, title: 'Add' }
      &nbsp;
      %i.eos-icons.eos-24 add
  = formatted_description(description)
  %div{id: "#{key}_template", style: 'display: none;' }
    %div.input-group.mb-2
      %input.form-control{ type: 'text', name: "variables[#{key}][]", required: true, value: '{{list_value}}' }
      %button.btn.btn-sm.btn-outline-danger.remove{ type: 'button', data: { toggle: 'tooltip' }, title: 'Remove' }
        &nbsp;
        %i.eos-icons.eos-24 remove

- content_for :page_javascript do
  :javascript
    $(function(){
      // Template for new entries
      var template = $("##{key}_template").html();
      $("##{key}_template").remove()
      // Add new entries
      $("##{key}_add_list").click(function(event){
        var new_value = $("##{key}_new_value");
        new_value.prop('required', true);
        if (new_value[0].validity.valid) {
          var form = $("##{key}_new_form");
          var new_entry = template.replace(/{{list_value}}/g, new_value.val());
          form.before(new_entry);
          new_value.val('');
          new_value.prop('required', false);
        } else {
          setTimeout(function(){
            new_value.prop('required', false);
          }, 1500);
        }
      });
      $(".input-group##{key}_new_form input[type='text']").on("keydown", function(event) {
        if (event.key == "Enter") {
          $("##{key}_add_list").click();
        }
      });
    });
