%div.card
  %h3.card-header= t('page_title.plan')
  %div.card-body
    %p= markdown(t('page_subtitle.plan_info'))
    %hr
    = loading_icon(hide: @plan.present?)
    = render('plans/plan', plan: @plan) if @plan.present?
%p.clearfix
  %div.float-right.btn-group.steps-container
    = link_to variables_path, class: "btn btn-secondary", title: t('tooltips.prior_step'), data: { toggle: 'tooltip' } do
      %i.eos-icons fast_rewind
      = t('sidebar.variables')
    = link_to(plan_path, id: 'update-plan', class: "btn btn-outline-primary", data: { method: :put } ) do
      %i.eos-icons refresh
      = t('action.plan')
    = link_to plan_path(format: :json), class: "btn btn-outline-primary #{'disabled' unless can(deploy_path)}", title: t('tooltips.download_plan'), data: { toggle: 'tooltip' }  do
      %i.eos-icons  get_app
      = t('sidebar.download_plan')
    = link_to deploy_path, class: "btn btn-primary #{'disabled' unless can(deploy_path)}", title: t('tooltips.start_action') do
      %i.eos-icons fast_forward
      = t('sidebar.deploy')
%p.clearfix

- content_for :page_javascript do
  :javascript
    $(function(){
      $("#update-plan").on("click", function(){
        $("code.output").hide({
          complete: function(){
            $("#loading").show();
          }
        });
      });

      if (#{ @plan.blank? }) {
        $('#update-plan')[0].click();
      }
    });
