%div.card
  %h3.card-header= t('page_title.plan')
  %div.card-body
    %p= markdown(t('page_subtitle.plan_info'))
    %hr
    %p= markdown(t('page_subtitle.plan_output'))
    %hr
    %pre.pre-scrollable
      %code.output
      %i.eos-icon-loading.md-48.centered.hide
%p.clearfix
  %div.float-right.btn-group.steps-container
    - if Rails.configuration.x.advanced_mode
      = link_to sources_path, class: "btn btn-secondary", title: t('tooltips.prior_step'), data: { toggle: 'tooltip' } do
        %i.eos-icons.md-18 fast_rewind
        = t('sidebar.variables')
    - else
      = link_to variables_path, class: "btn btn-secondary", title: t('tooltips.prior_step'), data: { toggle: 'tooltip' } do
        %i.eos-icons.md-18 fast_rewind
        = t('sidebar.variables')

    = link_to plan_path, class: "btn btn-primary", id: "submit-plan", title: t('tooltips.run'), data: { method: :put, remote: true, toggle: 'tooltip', disable_with: t('running') } do
      %i.eos-icons.md-18 save
      = t('run')
    = link_to deploy_path, class: 'btn btn-warning disabled', title: t('tooltips.start_action'), remote: true  do
      = t('sidebar.deploy')
      %i.eos-icons.md-18 fast_forward
%p.clearfix
