!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title BlueHorizon
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
  %body
    %div.wrapper
      %nav#sidebar
        = render 'layouts/sidebar'
      %div.container-fluid#content
        = bootstrap_flash
        = yield

    = javascript_include_tag 'application'
    = yield :page_javascript
